.reveal .slides {
    text-align: left;
}

.reveal .slides section {
    padding: 0;
}

.reveal .slide-number {
    font-size: 0.6em;
}

.reveal .slides section{
    height: 93%;
}

.reveal .slides .layout-center {
    height: 93%;
    display: flex !important;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.reveal .slides .layout-columns .layout-columns-wrapper {
    display: grid !important;
    grid-template-columns: auto;
}

.reveal .slides .layout-columns .layout-columns-wrapper > * {
    grid-row: 1;
}

.reveal .slides .layout-two-column {
    display: grid;
    grid-template-columns: 50% 50%;
}

.reveal .slides .layout-two-column .column-left{
    grid-column: 1 / span 1
}


.reveal .slides .layout-two-column .column-rigt{
    grid-column: 2 / span 1
}
